<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
  <title>Frontend Mentor | Expenses chart component</title>
  <link rel="stylesheet" href="./css/style.css">
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
</head>
<body>
<div class="back"> 
  <div class="container">
    <div class="top">
      <div class="side1"> 
        <div id="balance">My abc balance</div>
        <div id="amount">$921.48</div>
      </div> 
      <div class="side2">
        <div id="logo"><img alt ="logo_circle" src="./images/logo.svg"></div>
      </div>
    </div>
    <div class="bottom">
      <div id="bottom_title">
        Spending - Last 7 days  
      </div>
      <canvas id="chart_1" width="50px" height="25px">
        Place Chart Here
      </canvas>
      <hr>
      <div style="display: block; padding-top: 30px">
        <div class="bottom_left">
          <div id="month_total" style = "font-size: 13px">Total this month</div>
          <div id="month_amount"></div>
        </div>
        <div class="bottom_right">
          <div id="parcentage_change" style = "font-size: 13px; font-weight: 700;" >+ 2.4% </div>
          <div id="last_months">from last months</div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/Sandesh3456/chart_frontend">Sandesh Pathak</a>.
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>  
myJson  = {{data | safe}}
</script>
<script src="js/calculate.js"></script>
</html>